@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Outfit:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
}

@layer base {
  body {
    @apply bg-slate-300;
  }

  ul li {
    @apply text-xl font-light text-white hover:text-slate-200 my-3 md:text-lg md:my-0 ml-5;
  }
}

@layer components {
  .swiper {
    @apply md:w-11/12;
  }

  .card {
    @apply flex flex-col justify-center gap-3 bg-indigo-500 w-11/12 text-slate-200 p-3 rounded-md mx-auto;
  }

  .btn {
    @apply bg-white hover:bg-slate-200 text-xl text-black rounded-md px-5 py-3;
  }
}
